.deal-list {
  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__wrapper {
    text-align: center;
    margin: 0 auto;
  }

  &__edit {
    text-align: right;
  }
}
